body{
    font-size: 28px;
    font-family: cursive;
    background:linear-gradient(darkslategray,darkblue,darkcyan);
    background-size: cover;
}
label{
    color: darkorange;
}
input{
    border: none;
    border-radius: 10px;
    padding: 5px;
}
button{
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    
}
table{
    width: 100%;
    text-align: center;
    font-size: 22px;
    color: cornsilk;
}
th,td{
    padding: 10px;
}
th{
    background-color: darkblue;
}
tr:nth-child(even){
    background-color: darkcyan;
}
tr:nth-child(odd){
    background-color: darkgray;
}
